
.vs/ImageProcess/v14/.suo
ImageProcess.VC.db
ImageProcess.VC.VC.opendb
ImageProcess/x64/Debug/CamSort.obj
ImageProcess/x64/Debug/DirectTransfer.obj
ImageProcess/x64/Debug/ImageProcess.Build.CppClean.log
ImageProcess/x64/Debug/ImageProcess.log
ImageProcess/x64/Debug/ImageProcess.tlog/CL.command.1.tlog
ImageProcess/x64/Debug/ImageProcess.tlog/CL.read.1.tlog
ImageProcess/x64/Debug/ImageProcess.tlog/CL.write.1.tlog
ImageProcess/x64/Debug/ImageProcess.tlog/ImageProcess.lastbuildstate
ImageProcess/x64/Debug/ImageProcess.tlog/ImageProcess.write.1u.tlog
ImageProcess/x64/Debug/ImageProcess.tlog/link.command.1.tlog
ImageProcess/x64/Debug/ImageProcess.tlog/link.read.1.tlog
ImageProcess/x64/Debug/ImageProcess.tlog/link.write.1.tlog
ImageProcess/x64/Debug/ImageProcess.tlog/moc.read.1u.tlog
ImageProcess/x64/Debug/ImageProcess.tlog/moc.write.1u.tlog
ImageProcess/x64/Debug/ImageProcess.tlog/rcc.read.1u.tlog
ImageProcess/x64/Debug/ImageProcess.tlog/rcc.write.1u.tlog
ImageProcess/x64/Debug/ImageProcess.tlog/uic.read.1u.tlog
ImageProcess/x64/Debug/ImageProcess.tlog/uic.write.1u.tlog
ImageProcess/x64/Debug/LocalSort.obj
ImageProcess/x64/Debug/main.obj
ImageProcess/x64/Debug/MainWindow.obj
ImageProcess/x64/Debug/moc/moc_CamSort.cpp
ImageProcess/x64/Debug/moc/moc_DirectTransfer.cpp
ImageProcess/x64/Debug/moc/moc_LocalSort.cpp
ImageProcess/x64/Debug/moc/moc_MainWindow.cpp
ImageProcess/x64/Debug/moc_CamSort.obj
ImageProcess/x64/Debug/moc_DirectTransfer.obj
ImageProcess/x64/Debug/moc_LocalSort.obj
ImageProcess/x64/Debug/moc_MainWindow.obj
ImageProcess/x64/Debug/qmake/qtvars_x64_Debug.props
ImageProcess/x64/Debug/qrc_MainWindow.obj
ImageProcess/x64/Debug/qt_work.log
ImageProcess/x64/Debug/rcc/qrc_MainWindow.cpp
ImageProcess/x64/Debug/uic/ui_CamSort.h
ImageProcess/x64/Debug/uic/ui_DirectTransfer.h
ImageProcess/x64/Debug/uic/ui_LocalSort.h
ImageProcess/x64/Debug/uic/ui_MainWindow.h
ImageProcess/x64/Debug/vc140.pdb
x64/Debug/ImageProcess.exe
x64/Debug/ImageProcess.ilk
x64/Debug/ImageProcess.pdb
ImageProcess/x64/Debug/CamSD.obj
ImageProcess/x64/Debug/moc/moc_CamSD.cpp
ImageProcess/x64/Debug/moc_CamSD.obj
